.p{
	cursor: pointer;
	display: inline-block;
}

#pane{
	border:1px solid silver;
	width:450px;
	height:200px;
	padding-left: 10px;
}

.p1 ,.p2{
	cursor: pointer;
}

.post{
	text-align: center;
	padding-top: 5px;
}
h2{
	float: left;
}

img{
	/*position: relative;*/
	display: block;
	float:right;
	/*padding-top: -50px;*/
	margin-top: 20px;
	margin-right: 10px;
	cursor:pointer;
	border-radius: 50%;
}

img:hover{
	width: 30px;
	height: 30px;
	transition-duration: .2s;
}

.post{
	width: 100px;
	height: 30px;
	background: #333;
	color:white;
}